<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/style.css">
  <title>ChatApp Dev Build</title>
</head>
<body>
  <header>
    <h1>THE CHATER VERSE</h1>
    <p id="flag">
      <% if (showRealFlag) { %>
      flag{n0_boT_s@fe_fr0m_xsS}
      <% } else { %>
      flag{not_real_flag}
      <% } %>
    </p>
  </header>
  <div id="content">
    <div id="chat">
      <div id="messages">
      </div>
      <form action="" method="post">
        <input id="chatbox" type="text" name="message">
        <input id="chatsend" type="submit" <%= showRealFlag ? "" : "hidden"%>>
      </form>
    </div>
    <div id="test-button-container">
      <button id="run-bot-button" onclick="runBot()">Run bot test</button>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>